body {
    top: 0px;
    left: 0px;
    background: #000000;
    opacity: 1;
    margin: auto;
}

header {
    height: 727px;
    padding: 5em;
    font-size: 2em;
    background-image: url("../img/bg-header.jpg");
    background-size: cover;
    background-position: center;
    width: '100%';
    margin-top: 80px;
}

header h1 {
    margin: auto;
    transform: translateY(-235px);
    display: block;
    width: 69%;
    text-align: center;
    font-size: 59px;
    font-family: 'Raleway Medium';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.description {
    align-items: center;
    color: #FFFFFF;
    margin: auto;
    display: flow-root;
    padding: 5em 12em 0 12em;
}

.description p {
    font-size: 19px;
    text-align: left;
    align-items: flex-end;
    font-family: 'Raleway Light';
}

.description img {
    width: 299px;
    height: 285px;
    float: right;
    margin-left: 5em;
}

.features {
    height: 348px;
    line-height: 140px;
    text-align: center;
    margin-top: 4em;
    color: #FFFFFF;
    background: #1E1A13;
}

.feature i {
    display: block;
    padding: 0px;
}

.feature {
    width: 18%;
    padding: 0px;
    display: inline-block;
}

.features h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 47px;
    font-family: 'Raleway Medium';
    opacity: 100%;
}

.feature p {
    padding: 0px;
    margin: 0px;
    font-size: 29px;
    font-family: 'Raleway Light';
}

.gallery {
    padding: 71px 150px 71px 180px;
}

.photo {
    display: inline-block;
    width: 30%;
    margin: 0.60%;
    padding: 0.60%;
}

.photo img {
    width: 300px;
    height: 202px;
}

footer {
    height: 102px;
    line-height: 102px;
    background: #1E1A13;
    text-align: center;
    font-weight: 900;
}

footer p {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Raleway Light';
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}